<h1>Busca tus servicios</h1>
<input type="text" placeholder="Buscar servicio..." [(ngModel)]="terminoBusqueda" (input)="filtrarServicios()" class="barra-busqueda" />
<div *ngIf="!cargando && !error" class="contenedor-grid">
  <ng-container *ngIf="inf.length > 0; else sinDatos">
    <div class="tarjeta" *ngFor="let dato of serviciosFiltrados; trackBy: trackById">
      <div class="imagen-contenedor">
        <img [src]="dato.image" alt="{{ dato.name }}" />
      </div>
      <div class="info-producto">
        <h2>{{ dato.name }}</h2>
        <br>
        <p class="descripcion">{{ dato.description }}</p>
        <div *ngIf="dato.expandido" class="contenido-extra">
          <!-- Aquí agregas más información -->
          <p class="descripcion"><strong>Beneficios:</strong> {{dato.beneficio}}</p>
          <p class="descripcion"><strong>Duración:</strong> {{dato.duracion}}</p>
        </div>
        <div class="detalles">
          <p class="precio">Precio: ${{ dato.price }}</p>
          <button class="boton-ver-mas" (click)="toggleDetalles(dato)">
            {{ dato.expandido ? 'Ver menos' : 'Ver detalles' }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #sinDatos>
    <div>No hay productos disponibles.</div>
  </ng-template>
</div>
